li {
    line-height: 30px;
    font-size: 20px;
    margin: 10px 0;
}
li i {
    margin-left: 10px;
    cursor: pointer;
}
button {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}